.logo {
  width: 140px;
}
/* .customNav {
  background: rgba(27, 27, 27, 9);
} */
.navLink {
  color: white !important;
  text-decoration: none;
  margin-left: 20px;
}
.displayPic {
  width: 40px;
  border: 2px solid white;
  border-radius: 50%;
}
