@font-face {
  font-family: gill;
  src: url("/src/fonts/Gill\ Sans.otf");
}
body,
input {
  font-family: gill;
}
.customBtn {
  padding: 6px 30px !important;
  background: black !important;
}
.customBtn:hover {
  background: rgb(51, 51, 51) !important;
}
.btn-red {
  background: #dc3545 !important;
}
a {
  text-decoration: none !important;
}
