.perfumeCard {
  background: rgb(112, 112, 112);
  border-radius: 8px;
  color: white;
  overflow: hidden;
  box-shadow: 0.25em 0.25em 0.75em rgb(0 0 0 / 15%),
    0.125em 0.125em 0.25em rgb(0 0 0 / 15%);
}
.perfumeCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
